@{
    Layout = "_AdminLayout";
}

@model OrdersListModel;

<div class="content content_desktop">
    <div class="content__orders-filter-panel">
        <div class="orders__filter-panel_text">Всего заявок: @Model.AllOrdersCount</div>

        <div class="content__orders-filter-items">
            <a class="content__orders-filter-item content__orders-filter-item_btn" asp-controller="Admin" asp-action="AdminDesktop" asp-route-filterName="Today">Сегодня</a>

            <a class="content__orders-filter-item content__orders-filter-item_btn" asp-controller="Admin" asp-action="AdminDesktop" asp-route-filterName="Yesterday">Вчера</a>

            <a class="content__orders-filter-item content__orders-filter-item_btn" asp-controller="Admin" asp-action="AdminDesktop" asp-route-filterName="Week">Неделя</a>

            <a class="content__orders-filter-item content__orders-filter-item_btn" asp-controller="Admin" asp-action="AdminDesktop" asp-route-filterName="Month">Месяц</a>

            <input id="date1" class="content__orders-filter-item content__orders-filter-item_date" type="date" onchange="setDateRange()">

            <div class="content__orders-filter-item content__orders-filter-item_dash">-</div>

            <input id="date2" class="content__orders-filter-item content__orders-filter-item_date" type="date" onchange="setDateRange()">
        </div>
    </div>

    <div class="orders__content flex">
        <table class="orders__content_table">
            <colgroup>
                <col class="orders__content1">
                <col class="orders__content2">
                <col class="orders__content3">
                <col class="orders__content4">
                <col class="orders__content5">
            </colgroup>

            <thead class="orders__content_head">
                <tr>
                    <th class="orders__content_h-sel">Номер заявки</th>
                    <th class="orders__content_h-sel">Вреся заявки</th>
                    <th class="orders__content_h-sel">Имя</th>
                    <th class="orders__content_h-sel">Текст заявки</th>
                    <th class="orders__content_h-sel">Контактя</th>
                </tr>
            </thead>

            <tbody class="orders__content_body">

                @foreach (OrderFullDataModel t in Model.OrdersList)
                {
                    <tr class="orders__content_row">
                        <td class="orders__content_table-cell"><a class="orders__content__link" asp-controller="Order" asp-action="EditOrder" asp-route-id="@t.Id">@t.Id</a></td>
                        <td class="orders__content_table-cell"><time datetime="11.11.1987 11:08">@t.CreatingDate.ToString("dd.MM.yyyy hh:mm")</time></td>
                        <td class="orders__content_table-cell">@t.LastName @t.FirstName</td>
                        <td class="orders__content_table-cell">@t.Message</td>
                        <td class="orders__content_table-cell">@t.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>